{% extends 'blog/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-12 col-lg-8">
            <article class="poll">
                <div class="row">
                    <div class="col-6 col-lg-5">
                        <h2>{{ poll.title }}</h2>
                        <p>{{ poll.text|linebreaksbr }}</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        {% if poll.published_date %}
                            <time class="date" style="margin-right: 30px">
                                Posted: {{ poll.published_date }}
                            </time><br>
                        {% endif %}
                        {% if poll.edit_date %}
                            <time class="date">
                                Last edited: {{ poll.edit_date }}
                            </time><br>
                        {% endif %}
                        {% if poll.author %}
                            <span>Posted by: {{poll.author}}</span>
                        {% endif %}
                    </div>
                    <div class="col-12 col-lg-4 mt-2">
                       <aside class="actions float-end">
                            {% if request.user.is_superuser or request.user == poll.author %}
                                <a class="btn btn-secondary" href="{% url "poll_delete" pk=poll.pk %}">
                                    {% include 'blog/icons/trash.svg' %}
                                </a>
                            {% endif %}
                            {% if request.user == poll.author %}
                                <a class="btn btn-secondary" href="{% url "add_options" pk=poll.pk %}">
                                    Add Options
                                </a>
                                <a class="btn btn-secondary" href="{% url "poll_edit" pk=poll.pk %}">
                                    {% include 'blog/icons/pencil-fill.svg' %}
                                </a>
                            {% endif %}
                        </aside>

                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <table class="table">
                            <tr>
                                <th scope="col">Options</th>
                                <th scope="col">Votes</th>
                                <th scope="col">Delete</th>
                            </tr>
                            {% for option in options %}
                                <tr>
                                    <td >
                                        {{ option.description }}
                                    </td>
                                    <td>
                                        {{ option.votes }}
                                    </td>
                                    <td>
                                        {% if request.user.is_superuser or request.user == poll.author %}
                                            <a class="btn btn-secondary" href="{% url "options_delete" pk=option.pk %}">
                                                {% include 'blog/icons/trash.svg' %}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>
                <div class="row">
                   {% if user.is_authenticated %}
                      <a href="{% url 'poll_vote' pk=poll.pk %}" class="btn btn-secondary justify-content-end">
                          Vote
                      </a>
                   {% endif %}
        {#            <div class="col">#}
        {#                <button class="save btn btn-secondary">Option 1</button>#}
        {#                <button class="save btn btn-secondary">Option 2</button>#}
        {#                <button class="save btn btn-secondary">Option 3</button>#}
        {#                <button class="save btn btn-secondary">Option 4</button>#}
        {#            </div>#}
                </div>
            </article>
        </div>

        <div class="col-12 col-lg-4">
            <canvas id="myChart" width="400" height="100"></canvas>
        </div>

    </div>



{#    <script>#}
{#$(document).ready(function(){#}
    {#import { Colors } from 'chart.js'#}
{##}
{#    var ctx = document.getElementById('myChart').getContext('2d');#}
{##}
{#    var myChart = new Chart(ctx, {#}
{#        type: 'doughnut',#}
{#        data: {#}
{#              labels: [#}
{#                  {% for each_option in options %}#}
{#                      "{{ each_option.description }}",#}
{#                  {% endfor %}#}
{#              ],#}
{#              datasets: [{#}
{#                    label: 'All Votes',#}
{#                    data: [#}
{#                      {% for each_option in options %}#}
{#                          {{ each_option.votes }},#}
{#                      {% endfor %}#}
{#                    ],#}
                    {#backgroundColor: [#}
                    {#  'rgb(255, 99, 132)',#}
                    {#  'rgb(54, 162, 235)',#}
                    {#  'rgb(255, 205, 86)'#}
                    {#],#}
{#                    hoverOffset: 4#}
{#              }]#}
{#            },#}
{#    })#}
{#});#}
{##}
{#</script>#}

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [
          {% for each_option in options %}
              "{{ each_option.description }}",
          {% endfor %}
      ],
      datasets: [{
        label: '# of Votes',
        data: [
              {% for each_option in options %}
                  {{ each_option.votes }},
              {% endfor %}
            ],
        hoverOffset: 4
      }]
    },
  });
</script>


{% endblock %}
