{% extends 'blog/base.html' %}

{% block content %}
    <h4 style="color: black">User Profile</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">username</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user_profile.user.first_name}}</td>
                <td>{{user_profile.user.last_name}}</td>
                <td>{{user_profile.user.username}}</td>
                <td>{{user_profile.user.email}}</td>
                <td>{{user_profile.gender}}</td>
                <td>{{user_profile.birthday}}</td>
                <td>{{user_profile.phone_number}}</td>
                <td><a class="btn btn-secondary float-end" href="{% url 'user_edit' pk=user_profile.pk %}">
                    {% include 'blog/icons/pencil-fill.svg' %}
                </a></td>
            </tr>
        </tbody>
{% endblock %}
