<!DOCTYPE html>
<html>
<head>
    <title>Alex's blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    <article>
        <time>published: 21.11.2022, 8:15</time>
        <h2><a href="">My first post</a></h2>
        <p>Hello there! My name is Alex!</p>
    </article>
    <article>
        <time>published: 21.11.2022, 8:20</time>
        <h2><a href="">My second post</a></h2>
        <p>What is your name?</p>
    </article>
    
</body>
</html>