{% extends 'blog/base.html' %}

{% block content %}
    <div>
        {% if post.blog_post == True %}
            <a href="{% url 'alex_post_list' %}" class="btn btn-secondary justify-content-end">
                  Back to Post List
            </a>
        {% endif %}
        {% if post.blog_post == False %}
            <a href="{% url 'post_list' %}" class="btn btn-secondary justify-content-end">
                  Back to Post List
            </a>
        {% endif %}
    </div><br>
    <article class="post">
        <div class="row">
            <div class="col-md-9">
                <h2>{{ post.title }}</h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            <div class="col-md-3">
                {% if post.published_date %}
                    <time class="date" style="margin-right: 30px">
                        Posted: {{ post.published_date }}
                    </time><br>
                {% endif %}
                {% if post.edit_date %}
                    <time class="date">
                        Last edited: {{ post.edit_date }}
                    </time><br>
                {% endif %}
                {% if post.author %}
                    <span>Posted by: {{post.author}}</span>
                {% endif %}
               <aside class="actions mt-3">
                    {% if user.is_authenticated and post.author == user %}
                        <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                            {% include './icons/pencil-fill.svg' %}
                        </a>
                    {% endif %}
                    {% if user.is_authenticated%}
                        <a class="btn btn-secondary" href="{% url 'comment' pk=post.pk %}">
                            {% include './icons/card-text.svg' %}
                        </a>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <a class="btn btn-secondary" href="{% url 'post_delete' pk=post.pk %}">
                            {% include './icons/trash.svg' %}
                        </a>
                    {% endif %}
                </aside>

            </div>
        </div><br>
        {% for comment in comments %}
            <div class="card">
                <div class="card-header">
                    {{ comment.author }}
                    <span class="float-end inline">

                        {% if user.is_authenticated and comment.author == user or request.user.is_superuser%}
                            <a class="btn btn-secondary float-end" href="{% url 'comment_delete' pk=comment.pk %}">
                                {% include './icons/trash.svg' %}
                            </a>
                        {% endif %}
                        {% if user.is_authenticated and comment.author == user %}
                            <a class="btn btn-secondary float-end" href="{% url 'comment_edit' pk=comment.pk %}">
                                {% include './icons/pencil-fill.svg' %}
                            </a>
                        {% endif %}
                    </span>

                </div>
                <div class="card-body">
                    <p>{{ comment.text }}</p>
                    <span class="float-end" style="text-align: right">
                        {% if comment.published_date %}
                            <time class="date" style="color: grey">
                                Posted: {{ comment.published_date }}
                            </time><br>
                        {% endif %}
                        {% if comment.edit_date %}
                            <time class="date" style="color: grey">
                                Last edited: {{ comment.edit_date }}
                            </time>
                        {% endif %}
                    </span>
                </div>
            </div><br>
        {% endfor %}
    </article>
{% endblock %}

